{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">List of Priorities</h6>
                    </div>
                    <br />
                    <div class="col-md-12 row">
                        <div class="col-md-6">
                            <form class="navbar-left navbar-form nav-search mr-md-3" action="{% url 'priority-list' %}">
                                <div class="input-group">
                                    <input type="text" placeholder="Search ..." class="form-control" name="q" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <a href="{% url 'priority-add' %}" class="btn btn-success btn-rounded">Add Priority</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th class="text-right" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th class="text-right" scope="col">Action</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.name }}</td>
                                        <td class="text-right">
                                            <a class="btn btn-warning btn-circle btn-sm" href="priority_list/{{ object.id }}">
                                                <i class="fas fa-wrench"></i>
                                            </a>
                                            <a class="btn btn-danger btn-circle btn-sm" href="priority_list/{{ object.id }}/delete">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4" style="text-align: center">
                                            <p class="text-sm font-weight-bold mb-0">No Records Found</p>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% include 'includes/pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}