{% extends 'base.html' %} {% load static %} {% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">{% if object %}Update Priority {% else %}Add New Priority</h6>  {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <form class="" action="" method="post" novalidate>
                            {% csrf_token %} {% include 'includes/form.html' %}
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-3">
                                        <button type="submit" class="btn btn-primary btn-rounded btn-success">{% if object %}Update {% else %}Add</button>  {% endif %}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}